services:
  postgresql:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=fake
      - POSTGRES_DB=bewcloud
    restart: on-failure
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: '256m'

  # NOTE: If you don't want to use the CardDav/CalDav servers, you can comment/remove this service.
  radicale:
    image: tomsquest/docker-radicale:3.5.7.0
    ports:
      - 5232:5232
    init: true
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
      - CHOWN
      - KILL
    restart: unless-stopped
    volumes:
      - ./data-radicale:/data
      - ./radicale-config:/config:ro
    mem_limit: '256m'

volumes:
  pgdata:
    driver: local
